.actions {
  background-color: green;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.actions > button {
  display: inline-flex;
  width: 150px;
}
.actions > button:not(:last-child) {
  margin-bottom: 15px;
}

.current {
  color: brown;
}
a {
  color: inherit;
}
