form {
  position: relative;
  margin: 40px;
}
input {
  border: 2px solid red;
}
label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
input:hover + label,
input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-50px);
}
