.box {
  margin: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  text-decoration: none;
  color: brown;
  transition: color 250ms linear;
  font-size: 25px;

  &:hover,
  &:focus {
    color: crimson;
  }
}
.menu__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.user-form {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.user-form__label {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}
.user-form__btn {
  width: 180px;
  font-size: 20px;
}
.user-form__textarea,
.user-form__input {
  padding: 10px;
  font-size: 20px;
}

.color-swatch {
  width: 200px;
  height: 150px;
  /* background-color: #955014; */
}
.color-meta {
  border-top: 1px solid grey;
  background-color: #fff;
  /* border-bottom: 1px solid grey;
  border-right: 1px solid grey; */
  padding: 10px;
  width: 200px;
}
.palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 20px;
  height: 690px;
}
p {
  margin: 0;
}
.color-card {
  display: inline-block;
  border: 5px solid white;
  transition: transform 100ms linear;
}
.color-card.is-active {
  transform: perspective(480px) rotateX(10deg);
}
